body {
  font-family: $font-main;
  color: $cyan;
  overflow-x: hidden;
}
.product-wrp{
  background: $yellow;

  & > .show-product{
    display: inline-block;
    text-align: left;
    position: relative;
    width: 70%;
    height: 356px;
    color: rgb(99, 99, 99);
    margin: 5% 15%;
    // margin-bottom: 56px;
    padding: 64px 20px 50px 15px;
    background: url("../img/slide-prod-bg.png") 0% 0% repeat-x;
    & .image, & .caption{
      display: inline-block;
      vertical-align: top;
    }
    &::before{
      position: absolute;
      display: inline-block;
      content: "";
      top: 0px;
      left: auto;
      right: 100%;
      margin-right: -1px;
      width: 49px;
      height: 356px;
      background-image: url("../img/slide-prod-left.png");
    }
    &::after{
      position: absolute;
      top: 0px;
      left: 100%;
      margin-left: -1px;
      display: inline-block;
      content: "";
      width: 42px;
      height: 356px;
      background: url("../img/slide-prod-right.png") 0% 0% no-repeat;
    }
  }
}

.notification {
  background: $green;
  height: 100%;
  width: 100%;
  position: absolute;
  animation-name: slide;
  animation-timing-function: cubic-bezier(.98,.44,.51,.78);
  animation-duration: .8s;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(0);
  }
  60% {
    transform: scale(1.02);
  }
  80% {
    transform: scale(.9);
  }
  80% {
    transform: scale(1);
  }
}
