#nav {
  margin: 0;
 left:0;
 padding: 0;
 display: table;
 table-layout: fixed;
 border-width: 3px;
 border-style: solid;
 border-color: rgb(255, 255, 255);
 line-height: 4;
 margin: 0 auto;

  & > li{
    text-align: center;
 width: 100%;
 display: table-cell;
  }
}
