@import url(https://fonts.googleapis.com/css?family=Oswald);

$font-main: 'Oswald', Helvetica, sans-serif;
$yellow: rgb(242, 192, 48);
$cyan: rgb(56, 119, 242);
$red: rgb(255, 33, 65);
$green: rgb(31, 179, 105);